# Node modules
node_modules/

# Expo files
.expo/
.expo-shared/

# macOS
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Bundle output
*.jsbundle
*.map

# Metro cache
metro-cache/
*.tmp

# Android
android/
*.keystore

# iOS
ios/
Pods/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcworkspace
xcuserdata/
DerivedData/
*.xcuserstate

# Env files
.env
.env.*

# Misc
*.swp
*.swo

# VS Code
.vscode/

# Jest
coverage/
